<footer class="site-footer border-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                <h3 class="footer-heading mb-4">Promo</h3>
                <a href="#" class="block-6">
                    <img src="images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
                    <h3 class="font-weight-light  mb-0">Finding Your Perfect Shoes</h3>
                    <p>Promo from nuary 15 &mdash; 25, 2019</p>
                </a>
            </div>
            <div class="col-md-6 col-lg-3" >
                <div class="block-5 mb-5">
                    <h3 class="footer-heading mb-4">Contact Info</h3>
                    <ul class="list-unstyled">
                        <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                        <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                        <li class="email">emailaddress@domain.com</li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</footer>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>
<script>
    function check(){
        console.log('test')
        if ( document.getElementById('name').value == '' || document.getElementById('name').value == ' ' )
        {
            alert('Tên không được để trống')
            return false
        }
        if ( document.getElementById('address').value == '' || document.getElementById('address').value == ' ' )
        {
            alert('Địa chỉ không được để trống')
            return false
        }
        if ( document.getElementById('email').value == '' || document.getElementById('email').value == ' ' )
        {
            alert('Email không được để trống')
            return false
        }
        if ( document.getElementById('phone').value == '' || document.getElementById('phone').value == ' ' )
        {
            alert('Số điện thoại không được để trống')
            return false
        }
    }
</script>

<script src="js/main.js"></script>

</body>

</html>